@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color:#1e1e1e;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes earthRotate {
  0% { transform: rotate3d(0, 1, 0, 0deg); }
  20% { transform: rotate3d(0, 1, 0, 25deg); }
  40% { transform: rotate3d(0, 1, 0, -25deg); }
  60% { transform: rotate3d(0, 1, 0, 25deg); }
  80% { transform: rotate3d(0, 1, 0, -25deg); }
  100% { transform: rotate3d(0, 1, 0, 0deg); }

}

.illusion {
  animation: earthRotate 8s linear infinite;
  transform-origin: center;
}